<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Property List.plist
   DynoLife

   Created by Xiao Yan on 5/25/16.
   Copyright (c) 2016 DynoSense. All rights reserved.
-->
<plist version="1.0">
    <array>
        <string>安道尔</string>
        <string>奥地利</string>
        <string>澳大利亚</string>
        <string>阿尔巴尼亚</string>
        <string>阿尔及利亚</string>
        <string>爱尔兰</string>
        <string>安哥拉</string>
        <string>阿根廷</string>
        <string>埃及</string>
        <string>阿鲁巴</string>
        <string>阿拉伯联合酋长国</string>
        <string>阿曼</string>
        <string>阿塞拜疆</string>
        <string>埃塞俄比亚</string>
        <string>安提瓜岛和巴布达</string>
        <string>巴巴多斯岛</string>
        <string>巴布亚新几内亚</string>
        <string>博茨瓦纳</string>
        <string>冰岛</string>
        <string>不丹</string>
        <string>波多黎各</string>
        <string>波黑</string>
        <string>巴哈马</string>
        <string>保加利亚</string>
        <string>巴基斯坦</string>
        <string>巴林</string>
        <string>波兰</string>
        <string>布隆迪</string>
        <string>比利时</string>
        <string>玻利维亚</string>
        <string>百慕大</string>
        <string>北马里亚纳群岛邦</string>
        <string>贝宁</string>
        <string>巴拿马</string>
        <string>巴西</string>
        <string>朝鲜</string>
        <string>德国</string>
        <string>丹麦</string>
        <string>多米尼亚共和国</string>
        <string>厄瓜多尔</string>
        <string>俄罗斯</string>
        <string>厄立特里亚</string>
        <string>法国</string>
        <string>斐济</string>
        <string>芬兰</string>
        <string>菲律宾</string>
        <string>古巴</string>
        <string>冈比亚</string>
        <string>关岛</string>
        <string>格恩西岛</string>
        <string>刚果民主共和国</string>
        <string>哥伦比亚</string>
        <string>格陵兰</string>
        <string>格林纳达</string>
        <string>哥斯达黎加</string>
        <string>海地</string>
        <string>洪都拉斯</string>
        <string>韩国</string>
        <string>荷兰</string>
        <string>黑山共和国</string>
        <string>哈萨克斯坦</string>
        <string>吉布提</string>
        <string>吉尔吉斯斯坦</string>
        <string>捷克共和国</string>
        <string>基里巴斯</string>
        <string>加纳</string>
        <string>加拿大</string>
        <string>柬埔寨</string>
        <string>克罗地亚</string>
        <string>喀麦隆</string>
        <string>开曼群岛</string>
        <string>肯尼亚</string>
        <string>科威特</string>
        <string>利比里亚</string>
        <string>黎巴嫩</string>
        <string>利比亚</string>
        <string>罗马尼亚</string>
        <string>留尼旺岛</string>
        <string>卢森堡</string>
        <string>莱索托</string>
        <string>拉脱维亚</string>
        <string>卢旺达</string>
        <string>老挝</string>
        <string>列支敦士登</string>
        <string>缅甸</string>
        <string>马达加斯加</string>
        <string>马尔代夫</string>
        <string>摩尔多瓦</string>
        <string>美国</string>
        <string>蒙古</string>
        <string>孟加拉</string>
        <string>秘鲁</string>
        <string>摩洛哥</string>
        <string>毛里求斯</string>
        <string>毛里塔尼亚</string>
        <string>马拉维</string>
        <string>马来西亚</string>
        <string>摩纳哥</string>
        <string>马其顿</string>
        <string>莫桑比克</string>
        <string>马绍尔群岛</string>
        <string>墨西哥</string>
        <string>尼泊尔</string>
        <string>南非</string>
        <string>尼加拉瓜</string>
        <string>纳米尼亚</string>
        <string>尼日利亚</string>
        <string>挪威</string>
        <string>帕劳群岛</string>
        <string>葡萄牙</string>
        <string>卡塔尔</string>
        <string>乔治亚</string>
        <string>日本</string>
        <string>瑞典</string>
        <string>瑞士</string>
        <string>苏丹</string>
        <string>塞尔维亚</string>
        <string>圣基茨和尼维斯</string>
        <string>斯洛伐克</string>
        <string>塞拉利昂</string>
        <string>斯里兰卡</string>
        <string>所罗门群岛</string>
        <string>苏里南</string>
        <string>斯洛文尼亚</string>
        <string>圣马力诺</string>
        <string>萨摩亚</string>
        <string>塞内加尔</string>
        <string>塞舌尔</string>
        <string>沙特阿拉伯</string>
        <string>斯威士兰</string>
        <string>土耳其</string>
        <string>泰国</string>
        <string>汤加</string>
        <string>塔吉克斯坦</string>
        <string>特立尼达和多巴哥</string>
        <string>坦桑尼亚</string>
        <string>危地马拉</string>
        <string>乌干达</string>
        <string>乌克兰</string>
        <string>文莱</string>
        <string>乌拉圭</string>
        <string>瓦努阿图</string>
        <string>委内瑞拉</string>
        <string>乌兹别克斯坦</string>
        <string>西班牙</string>
        <string>新加坡</string>
        <string>新克里多尼亚</string>
        <string>希腊</string>
        <string>新西兰</string>
        <string>匈牙利</string>
        <string>印度</string>
        <string>约旦</string>
        <string>意大利</string>
        <string>印度尼西亚</string>
        <string>英国</string>
        <string>伊朗</string>
        <string>伊拉克</string>
        <string>也门</string>
        <string>牙买加</string>
        <string>亚美尼亚</string>
        <string>越南</string>
        <string>以色列</string>
        <string>直布罗陀</string>
        <string>赞比亚</string>
        <string>中非共和国</string>
        <string>中国</string>
        <string>中国澳门</string>
        <string>中国台湾</string>
        <string>中国香港</string>
        <string>智利</string>
        <string>泽西岛</string>
    </array>
</plist>
